.cards > ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
	grid-gap: 16px;
	text-transform: uppercase;
}

.cards > ul > li {
	/* border: 1px solid var(--highlight-background-color);
	background-color: var(--background-color); */
}

.cards .cards-card-body p {
	/* margin: 16px; */
	margin: 0;
}

.cards .cards-card-body p:last-of-type {
	font-size: 12px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 260px;
}

.cards .cards-card-image {
	line-height: 0;
}

.cards .cards-card-body > *:first-child {
	margin-top: 0;
}

.cards > ul > li img {
	width: 100%;
	aspect-ratio: 4 / 3;
	object-fit: cover;
}

.cards a.button:any-link {
	color: black;
	background: transparent;
	padding: initial;
	font-size: 18px;
	margin: 0;
	white-space: wrap;
	text-align: left;
	border-radius: 0;
	font-weight: 500;
}

.section.cards-container .default-content-wrapper > h2,
.section.cards-container .default-content-wrapper > h3 {
	font-size: 36px;
	margin-top: 27px;
	font-weight: normal;
	margin-bottom: 13.5px;
}

.section.cards-container .default-content-wrapper > h3 {
	font-size: 24px;
}

.section.cards-container .default-content-wrapper > h2::after,
.section.cards-container .default-content-wrapper > h3::after {
	border-bottom: 2px solid #ffea00;
	content: "";
	display: block;
	padding-top: 8px;
	width: 84px;
}
