.pagination-card{
    
}

.pagination-card .p-card{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #00000012;
    margin-bottom: 20px;
}

.pagination-card .p-text-block {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pagination-card .pagination-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}